@import url('https://fonts.cdnfonts.com/css/product-sans');

.App {
  text-align: center;
  border: 1px solid;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
  margin: 5% 30% ;
  font-family: 'Product Sans', sans-serif;    
}

.header{
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: relative;
  border: 1px solid red;
}
  .title{
    display: inline-block;
    margin: 2%;
  }

  .add-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px 25px 5px 25px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
  }

  .tasks{
    margin: 10px;
    border: 1px solid green;
  }

  .task{
    border: 1px solid blue;
    padding: 2px;
    border-radius: 5px;
    margin-top: 5px;  
    text-align: left;
    position: relative;

  }
    .task-title{
      padding: 0px 15px;
      margin: 0;
    }
    .task-date{
      margin: 0;
      padding: 0px 15px;
    }
    .task-delete{
      position: absolute;
      right: 5px;
      top: 5px;
      color: red;
      cursor: pointer;
      font-size: 22px;

    }
    .task-bell{
      position: absolute;
      right: 35px;
      top: 5px;
      color: red;
      cursor: pointer;
      font-size: 22px;
    }
   
.form{
  text-align: center;
  border: 1px solid purple;
  margin: 0% 10%;
}
.form-input {
  margin: 10px 0;
}
.form-input label {
  display: block;
  font-size: 22px;
  font-weight: 600;
}

.form-input input {
  width: 35%;
  height: 30px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 18px;
}

.form-input-check {
  display: block;
  align-items: center;
  justify-content: center;
}

.form-input-check label {
  flex: 3;
}

.form-input-check input {
  flex: 1;
  height: 20px;
}

.submit-btn{
  padding: 10px 25px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
}
