@import url('https://fonts.cdnfonts.com/css/product-sans');

.App {
  text-align: center;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
  margin: 5% 30% ;
  font-family: 'Product Sans', sans-serif;  
  background-color: #ffffff;  
}

.header{
  display: flex;
  justify-content: space-between;
  text-align: center;
  position: relative;
  background-color: #176B87;
  border-radius: 15px 15px 0px 0px;
}
  .title{
    display: inline-block;
    margin: 2%;
    color: #EEF5FF;
    letter-spacing: 3px;
  }

  .add-btn{
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px 25px 5px 25px;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 600;
    background-color: #EEF5FF;
    border: 1px #176B87;
    color:#176B87;
  }

  .tasks{
    margin: 10px;
    padding: 10px;
  }

  .task{
    padding: 2px;
    border-radius: 5px;
    margin-top: 5px;  
    text-align: left;
    position: relative;
    background-color: #EEF5FF;

  }
    .task-title{
      padding: 0px 15px;
      margin: 0;
      color: #176B87;
    }
    .task-date{
      margin: 0;
      padding: 0px 15px;
      color: #176B87;
    }
    .task-delete{
      position: absolute;
      right: 5px;
      top: 5px;
      color: #86B6F6;
      cursor: pointer;
      font-size: 22px;

    }
    .task-bell{
      position: absolute;
      right: 35px;
      top: 5px;
      color: #86B6F6;
      cursor: pointer;
      font-size: 22px;
    }
   
.form{
  text-align: center;
  border-radius: 10px;
  margin: 2% 10%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #EEF5FF;
  color: #176B87;
  transition: all 0.3s ease-out;
}
.fade-in{
  animation: fadeIn 1s;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.form-input {
  margin: 10px 0;
}
.form-input label {
  display: block;
  font-size: 22px;
  font-weight: 600;
}

.form-input input {
  width: 35%;
  height: 30px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 18px;
}

.form-input-check {
  display: block;
  align-items: center;
  justify-content: center;
}

.form-input-check label {
  flex: 3;
}

.form-input-check input {
  flex: 1;
  height: 20px;
}

.submit-btn{
  padding: 10px 25px;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 600;
  border-radius: 10px;
  margin: 5px;
  background-color: #176B87;
  color: #EEF5FF;
}
